<%- include('partials/header') %> 

<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">PannSecret</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="/login">login</a></li>
                  <li><a href="/register">register</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">You can keep secret messages</h1>
            <p class="lead">You can keep secret information anonymously</p>
            <p class="lead">
              <a href="/login" class="btn btn-lg btn-primary">Login</a>
              <a href="/register" class="btn btn-lg btn-default">register</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>
                copyright ©
                <a href="https://getbootstrap.com/">PannCode</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>




<%- include('partials/footer') %> 