<%- include('partials/newheader') %>
<div class="jumbotron text-center sec">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h5 class="display-3 secretsh1">
      This is the right place to share your secrets!
    </h5>

    <hr />

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>

<%- include('partials/newfooter') %>
